﻿@model web.Models.LoaiTin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>LoaiTin</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ten)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ten)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.An)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.An)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.LoaiTinId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
