﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>web.Windows</title>

    <!-- WinJS references -->
    <link href="//Microsoft.WinJS.2.0/css/ui-dark.css" rel="stylesheet" />
    <script src="//Microsoft.WinJS.2.0/js/base.js"></script>
    <script src="//Microsoft.WinJS.2.0/js/ui.js"></script>

    <!-- web.Windows references -->
    <link href="css/default.css" rel="stylesheet" />
    <script src="/js/default.js"></script>
</head>
<body>
    <header>

        @*<button id="dn">Đăng nhập</button>
        <button id="dk"> Đăng kí</button>
        <button id="tc"> Trang chủ</button>
        <button id="tt">Thông tin</button>
        <button id="lh">Liên hệ</button>*@
      
        <img id="xe" alt="xe" src="images/xe.jpg">
        <div id="menu">
            @Html.ActionLink("Trang chủ", "Index", "Home")
            @Html.ActionLink("Thông tin", "Index", "Home")
            @Html.ActionLink("Liên hệ", "Index", "Home")
            
        </div>
        <div id="signin">
            @Html.ActionLink("Đăng nhập", "Index", "Home")
            @Html.ActionLink("Đăng kí", "Create", "User")
        </div>
    </header>
    <footer id="top">
        <section id="listMenu">
            <ul id="search">Tìm Kiếm</ul>
            <ul id="km">Khuyến Mãi</ul>
            <ul id="dg">Đánh Giá Của Khách</ul>
            <ul id="hx">Các Hãng Xe</ul>
            <ul id="bx">Bến Xe</ul>
            <ul id="huongdan">Hướng Dẫn Đặt Vé</ul>

        </section>
    </footer>
    <footer id="footer">
        Thông tin liên hệ: 0972698288
    </footer>
</body>
</html>
