﻿@model web.Models.Rating

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Rating</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MoTa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MoTa)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SoLanChon)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SoLanChon)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tin.TieuDe)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tin.TieuDe)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.RatingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
