﻿@model web.Models.QuangCao

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>QuangCao</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MoTa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MoTa)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Url)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Url)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UrlHinh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UrlHinh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LoaiTin.ten)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoaiTin.ten)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.QuangCaoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
