﻿@model web.Models.Tin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Tin</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TieuDe)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TieuDe)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MoTa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MoTa)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgayDang)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayDang)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NoiDung)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoiDung)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SoLanXem)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SoLanXem)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AnHien)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AnHien)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LoaiTin.ten)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoaiTin.ten)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TinId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
