﻿@model web.Models.Tin

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Tin</legend>

        @Html.HiddenFor(model => model.TinId)

        <div class="editor-label">
            @Html.LabelFor(model => model.TieuDe)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TieuDe)
            @Html.ValidationMessageFor(model => model.TieuDe)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MoTa)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MoTa)
            @Html.ValidationMessageFor(model => model.MoTa)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NgayDang)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NgayDang)
            @Html.ValidationMessageFor(model => model.NgayDang)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NoiDung)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NoiDung)
            @Html.ValidationMessageFor(model => model.NoiDung)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SoLanXem)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SoLanXem)
            @Html.ValidationMessageFor(model => model.SoLanXem)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AnHien)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AnHien)
            @Html.ValidationMessageFor(model => model.AnHien)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId, "User")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LoaiTinId, "LoaiTin")
        </div>
        <div class="editor-field">
            @Html.DropDownList("LoaiTinId", String.Empty)
            @Html.ValidationMessageFor(model => model.LoaiTinId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
