﻿body {
}
header{
	background-color:#fff;
	height:200px;
	width:100%;
	}
#dn{
	font-size:17px;
	position:absolute;
	top: 230px;
	right:0px;
	background-color:#0094ff;
	}
#dk{
	font-size:17px;
	position:absolute;
	top: 230px;
	right:115px;
	background-color:#0094ff;
	}
#tc{
	font-size:17px;
	position:absolute;
	top: 230px;
	left:0px;
	background-color:#0094ff;
	}
button:active{
	color:white;
	background-color:#fff;
}
ul:active{
  font-size:30px;
  color:white;
}
#top
{
	background-color:#acc6a4;
	height:400px;
	position:absolute;
	left: 0px;
	top: 260px;
	right: 823px;
	width:100%;
	}
#bx{
	font-size:20px;
	position:absolute;
	right: -285px;
	top: 100px;
	left: -17px;
	bottom: -233.45px;
	}
#hx{
	font-size:20px;
	position:absolute;
	left: -17px;
	top:70px;
	right: -271px;
	bottom: -297.99px;
	}
#km{
	font-size:20px;
	position:absolute;
	top:10px;
	left: -17px;
	right: -163px;
	bottom: -104.67px;
	}
#dg{
	font-size:20px;
	position:absolute;
	left: -17px;
	top: 40px;
	right: -246px;
	bottom: -176.67px;
	}
#huongdan{
	font-size:20px;
	position:absolute;
	top: 130px;
	left: -17px;
	right: -214px;
	bottom: -287.43px;
	}
#search
{
	font-size:20px;
	position:absolute;
	top: -18px;
	left: -17px;
	right: -163px;
	bottom: -71px;
	}
#listMenu{
	position:absolute;
       padding:5px;
  
	}
#tt{
	font-size:17px;
	position:absolute;
	top: 230px;
	left:100px;
        background-color:#0094ff;
	}
#lh{
	font-size:17px;
	position:absolute;
	top:230px;
	left:200px;
	background-color:#0094ff;
	}

#xe{
	position:absolute;
	left: 0px;
	top: 29px;
	width: 100%;
	height: 200px;
	}
#menu{
 position:absolute;
 top:230px;
 padding:5px;
 color:black;
}
menu:active{
    color:white;
}
#signin{
    position:absolute;
    top:230px;
    right:0px;
     padding:5px;
     color:black;
}

#footer {
    position:absolute;
    background-color:black;
    color:white;
    height:50px;
    bottom:0px;
    width:100%;
    text-align:center;
    padding:5px; 
}